@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

body {
  background: linear-gradient(
    90deg,
    rgba(184, 198, 197, 1) 0%,
    rgb(168, 166, 163) 92%,
    rgb(161, 164, 158) 100%
  );
  padding: 0px 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
@media screen and (max-width: 590px) {
  #root {
    width: 100%;
  }
}
